<header>
        <a href="./">Biblioteca Virtual Marwin</a>
        <nav id="navBar">
            <div id="menuWindow">

            <ul class="menu disabled">
                <li><a href="/viewLivros">Visualizar livros adicionados</a></li>
                <li><a href="/addLivro">Adicionar novo livro</a></li>
            </ul>
            </div>
        </nav>

        <div id="divIcon">
            <div id="divBar">_</div>
            <div id="divBar">_</div>
            <div id="divBar">_</div>
        </div>
    </header>
