* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    color: #fff;
    background-color: lightgreen;
    position: absolute;
    height: 8vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

header a {
    font-size: 25px;
    text-decoration: none;
    color: green;
    margin: 10px;
    margin-right: 20px;
}

.menu {
    position: absolute;
    top: 120%;
    right: 0%;
    width: 350px;
    transition: 1s;
}
ul {
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 10px;
}

li {
    margin: 10px;
    color: lightgreen;
    display: block;
}

.disabled {
    display: none;
    transition: 1s;
}

label {
    display: block;
    font-size: 20px;
    font-weight: 1000;
    transition: 0.2s;
    text-align: center;
}

div#menuWindow {
    margin-top: 10px;
    display: flex;
}

p#menuText {
    color: rgb(40, 137, 2);
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: underline;
}

form {
    position: absolute;
    top: 20%;
    display: flex;
    margin-left: 42%;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgreen;
    border: 1px solid green;
    border-radius: 10px;
    padding: 30px 60px 30px 60px;
    animation: fadeIn 0.5s forwards;
}

legend {
    text-align: center;
    padding: 20px;
}

input {
    margin-bottom: 10px;
    border-radius: 5px;
}

div#divBar {
    width: 20px;
    height: 9px;
}

div#divBar::after {
    content: "_";
    font-size: 60px;
    font-weight: 800;
}

div#menuIcon {
    position: absolute;
    top: -44%;
    right: 2%;
    width: 35px;
    height: 90px;
}

div#mostrarInfo {
    position: absolute;
    top: 40%;
    right: 44%;
    background-color: lightgreen;
    padding: 10px;
    border: 3px outset green;
    border-radius: 10px;
    text-align: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
        transform: translateX(-20%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}