<form method="post" action="/alter" id="opcoes">
<input type='text' value='alunoPos' name='tipoAlteração' hidden>
<label>Codigo do livro selecionado: <br><input type='text' name='id'></label><br>
<label>Novo aluno possuinte: <br><input type='text' name='novoNome'></label><br>
<button type='submit'>Salvar alterações</button>
</form>