<form method="post" action="/alter" id="opcoes">
<input type='text' value='data' name='tipoAlteração' hidden>
<label>Codigo do livro selecionado: <br><input type='text' name='id'></label><br>
<label>Nova data de devolução <br><input type='date' name='dataDevolução'></label><br>
<button type='submit'>Salvar alterações</button>
</form>