<form method="post" action="/alter" id="opcoes">
<input type='text' value='apagarRegistro' name='tipoAlteração' hidden>
<label>Codigo do livro selecionado: <br><input type='text' name='id'></label><br>
<button type='submit'>Confirmar escolha</button>
</form>