<form method="post" action="/alter" id="opcoes">
<input type='text' value='situaçãoAtual' name='tipoAlteração' hidden>
<label>Codigo do livro selecionado: <br><input type='text' name='id'></label><br>
<select id='opcoes' name='situaçãoAtual'><option value='pendente'>Pendente</option><option value='devolvido'>Devolvido</option></select><br>
<button type='submit'>Salvar alterações</button>
</form>